.buscar{
  width:80%;
  height: 100px; 
  font-size: 4px;
/*  margin-top: 0px;
  margin-left: 60px;*/
  text-align: center;

}
h5{
  color: white; 
}
h2{
  font-size: 25px;
color: white;}
legend{
  color: white;
}
p.help-block{
  color: white;
}
.colortexto{
  color:white;
}
/* http://www.jquery2dotnet.com/ */
body{ 
margin-top:0px;
color:black;
}
.glyphicon { margin-right:5px;}
.rating .glyphicon {font-size: 22px;}
.rating-num { margin-top:0px;font-size: 54px; }
.progress { margin-bottom: 5px;}
.progress-bar { text-align: left; }
.rating-desc .col-md-3 {padding-right: 0px;}
.sr-only { margin-left: 5px;overflow: visible;clip: auto;
}

.fondo{
  background-color: rgba(000, 000, 000, .6  ) ;
  width: 100%;
  height: 763px;
  color: white;
}
/*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
/*
 * General styles
 */

body, html{
     height: 800px;body, html{
     height: 800px;
  background-repeat: no-repeat;
  background-color: #d3d3d3;
  font-family: 'Oxygen', sans-serif;
 
  background-repeat: no-repeat;
  background-color: #d3d3d3;
  font-family: 'Oxygen', sans-serif;
  margin-top: 0px;
}

.main{
  margin-left: 0px;
  width: 1100px
}

h1.title { 
  font-size: 50px;
  color: white;
  font-family: 'Passion One' ; 
  font-weight: 400; 
}

hr{
  width: 100%;
  color: #fff;
}

.form-group{
  margin-bottom: 15px;
}

label{
  margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
  background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
  margin-top: 30px;
  margin: 0 auto;
  max-width: 330px;
    padding: 40px 40px;

}

.login-button{
  margin-top: 5px;
}

.login-register{
  font-size: 11px;
  text-align: center;
}
.buscar{
  width:400px;
  height: 100px; 
  font-size: 4px;
  margin-top: 0px;
  margin-left: 60px;
}
.usuario {
    width: 1103px;
    float: left;
    text-align: center;
    padding-right: 15px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    width: 97%;
    border-color: #ccc;
}
/*estilos registrar personal*/
.loks{
      padding-left:323px;
}
.inicioadminb{
    width: 142px;
}
.lokss{
      padding-left: 384px;
}
.inicioadminbb{
    width: 142px;
}
.reasig{
      padding-left: 86px;
}
.perfil{
    width: 20000px;    
}

}


