
*{
	box-sizing: border-box;
}
/*estilos ingresar pedido*/
body{
  background-image: url('#{resources["imgs/06.jpg"]}');
  font-family: 'Exo', sans-serif;
  background-attachment: fixed;
  -webkit-background-size: 100%; 
  background-size: 100%;
  /* centrar, fijar y tamaño 100% en imagen de fondo */
  min-width: 300px;
  min-height: 300px;
  margin: 0 auto;
  height: 580px;
  /* centrar -bloque- */
}
.encabezado{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606c88+0,3f4c6b+100;Grey+3D+%232 */
  background-color: #23282e ;
  width: 100%;
  height: 70px;
  text-align: right;
  color: white;
}
.encabezado div a{
  color: white;
  text-decoration: none;
}
.encabezado div a:hover{
  color: #ccc;
  font-size: 17px;
}
.migas{
  background-color: #002B3C;
  margin: 0 0 0 8px;
  margin-top: 0;
  padding-right: 0;

}
.ambientesnav{
  background-color: rgba(000, 000, 000, .8  );
  margin-top: 0px; 
}
.nav-pills{
  background-color: rgba(000, 000, 000, .8  );
  width: 98.5%;
  min-width: 650px;
  max-width: 1500px;
  float: left;
  margin-left: 1.5%;
}

.form-group label{
  color: white;
}
#mesas{
	background-color: rgba(000, 000, 000, .6 );
	width: 100%;
	height: 610px;
}
#datosmesa{
	text-align: center;
	width: 600px;
	padding:0;
	margin-left: 30%;
}
.form-horizontal{	
	color: white;
	
}
.pedido{
	text-align: center;
}
.col-md-8{
  margin-left: 110px;
}
.row{
  margin-right: 0;
  margin-left: 0;
}
/*estilos pedido*/
#hora{
  color: white;
  text-align: right;
  margin-right: 10px;
}
