*{
	box-sizing: border-box;
}
body{

    
    font-family: 'Exo', sans-serif;

    background-position: center;
    background-image: url('#{resources["imgs/1.jpg"]}');
    background-attachment: fixed;
    -webkit-background-size: 100%; 
    background-size: 100%;
  /* centrar, fijar y tamaño 100% en imagen de fondo */
    min-width: 300px;
    min-height: 300px;
    margin: 0 auto;
  /* centrar -bloque- */
}

/*.shadow{
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
}*/
.textogenesis{
    font-size: 4em;
    
}
.well{
    padding: 20px 50px;
    color: #000;
    background-color: rgba(255,255,255, 0.8);
}
.well h2{
    color:#6A1410;
}
.well .checkbox{
    margin-top: -15px;
}
section{
    margin-top: 100px;
}
h2{
    padding-top: 50px;
}
button{
    /*padding-bottom: 50px;*/
}
